In [161]:
import pandas as pd
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

## Helper function (geocode)

In [162]:
with open("gkeys.key") as f:
    key = f.readline().strip()

In [163]:
def get_lat_long(addresses,key):
    """
    uses the googlev3 to parse addresses
    
    addresses: list of addresses to parse
    key: google api key
    code_country (default None): region to look into
    
    return:
    latitudes
    longitudes
    """
    import time
    from geopy import geocoders
    g = geocoders.GoogleV3(api_key=key)

    if len(addresses) > 2500:
        raise("It will take more than 24 hours to run")
#     print("Starting now")
        
    longitudes = []
    latitudes = []
    for i,address in enumerate(addresses):
        if (i>0) and (i%50 == 0): 
            print("Addressed parsed {} out of {}".format(i,len(addresses)))
            time.sleep(2)
        location = g.geocode(address,timeout=10)
        try:
            latitudes.append(location.latitude)
            longitudes.append(location.longitude)
        except:
            latitudes.append(np.NaN)
            longitudes.append(np.NaN)
        print(latitudes[-1],longitudes[-1])
        
    return latitudes,longitudes

# Format data to get a uniform style

# Data from https://everytownresearch.org/school-shootings/

In [164]:
everytown = pd.read_csv("./data/everytown.csv",sep=";",header=None, parse_dates=[1])
everytown.columns = ["index","date","date_repeaded","state","city","school","type_school","gun_fired","injured","death","attempted_suicide","suicide","number_victims"]
everytown = everytown.loc[:,["date","state","school","type_school","death","suicide","number_victims"]]
everytown.to_csv("./data/everytown_formatted.tsv",index=None,sep="\t")
everytown.head(2)

,date,state,school,type_school,death,suicide,number_victims
0,2013-01-08,FL,Apostolic Revival Center Christian School,K-12,1,0,1
1,2013-01-10,CA,Taft Union High School,K-12,0,0,0

In [218]:
everytown_u = pd.read_csv("./data/everytown_updated.csv",sep=";",header=0, parse_dates=["Date"])

everytown_u.columns = ["date","city","school","state","type_school","category","attack","lat","lon"]
everytown_u["number_victims"] = np.NaN
everytown_u = everytown_u.loc[:,["date","state","school","type_school","death","suicide","number_victims","lat","lon"]]
everytown_u.to_csv("./data/everytown_u_formatted.tsv",index=None,sep="\t")
everytown_u.head(2)

/home/javiergb/Programs/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,date,state,school,type_school,death,suicide,number_victims,lat,lon
0,2018-02-14,FL,Marjory Stoneman Douglas High School,K-12,NaN,NaN,NaN,26.304503,-80.269457
1,2018-02-08,NY,The Metropolitan High School,K-12,NaN,NaN,NaN,40.827733,-73.897018

In [219]:
#For self-excitation
everytown_u_se = everytown_u[["lat","lon","number_victims","date"]]
everytown_u_se = everytown_u_se.sort_values(by="date")
everytown_u_se["number_victims"] = 1
everytown_u_se["date"] = everytown_u_se["date"].diff().dt.days
everytown_u_se["date"] = np.cumsum(everytown_u_se["date"].replace(np.NaN,0))
everytown_u_se = everytown_u_se.loc[(everytown_u_se["lon"]>-140)&(everytown_u_se["lat"]>23)]
everytown_u_se.to_csv("./data/everytown_u_self_excitation.tsv",sep=" ",index=None,header=None)
everytown_u_se.head(2)

           lat         lon  number_victims  date
289  26.640191  -81.834505               1   0.0
288  35.146303 -119.460509               1   2.0

# Data from Jim&Alyssa: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5314897/

In [198]:
#NAN value is: stewart country schools (a K-12 school)
d_type2school = {"High": "K-12", "Middle": "K-12", "college": "College", "Elementary": "K-12",np.NaN:"K-12"}

In [199]:
alyssa = pd.read_csv("./data/ShootMiami2.csv",sep=";",header=None,parse_dates=[0])
alyssa.columns = ["date","_1","_2","_3","year","type_shooing","number_victims","school","type_school","city","state","urbanity",
                 "relationship_with_attacker","gender","age","suicide","motives","population_school","lat","lon","_4","_5","_6","_7","_8"]
alyssa = alyssa.loc[:,["date","state","school","type_school","death","suicide","number_victims"]]
alyssa["death"] = (alyssa["number_victims"]>0).astype(int)
#alyssa["suicide"] = alyssa["suicide"].astype(int) 
alyssa["type_school"] = alyssa["type_school"].replace(d_type2school)
alyssa.to_csv("./data/alyssa_formatted.tsv",index=None,sep="\t")
alyssa.head(2)

/home/javiergb/Programs/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

        date state         school type_school  death  suicide  number_victims
0 1990-08-27    NV  Eldorado High        K-12      1      0.0               1
1 1991-10-09    NY   James Monroe        K-12      1      0.0               1

In [216]:
alyssa_u = pd.read_csv("./data/ShootMiami2_updated.csv",sep=";",header=None,parse_dates=[0])
alyssa_u.columns = ["date","_1","_2","_3","year","type_shooing","number_victims","school","type_school","city","state","urbanity",
                 "relationship_with_attacker","gender","age","suicide","lat","lon"]
alyssa_u = alyssa_u.loc[:,["date","state","school","type_school","death","suicide","number_victims","lat","lon"]]
alyssa_u["death"] = (alyssa_u["number_victims"]>0).astype(int)
#alyssa["suicide"] = alyssa["suicide"].astype(int) 
alyssa_u["type_school"] = alyssa_u["type_school"].replace(d_type2school)
alyssa_u.to_csv("./data/alyssa_u_formatted.tsv",index=None,sep="\t")
alyssa_u.head(2)

/home/javiergb/Programs/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,date,state,school,type_school,death,suicide,number_victims,lat,lon
0,1990-08-27,NV,Eldorado High,K-12,1,0.0,1,38.732681,-120.811880
1,1991-10-09,NY,James Monroe,K-12,1,0.0,1,43.146905,-77.598189

In [217]:
#For self-excitation
alyssa_u_se = alyssa_u[["lat","lon","number_victims","date"]]
alyssa_u_se = alyssa_u_se.sort_values(by="date")
alyssa_u_se["date"] = alyssa_u_se["date"].diff().dt.days
alyssa_u_se["date"] = np.cumsum(alyssa_u_se["date"].replace(np.NaN,0))
alyssa_u_se = alyssa_u_se.loc[(alyssa_u_se["lon"]>-140)&(alyssa_u_se["lat"]>23)]
alyssa_u_se.to_csv("./data/alyssa_u_self_excitation.tsv",sep=" ",index=None,header=None)
alyssa_u_se.tail(2)

           lat        lon  number_victims     date
256  36.857377 -88.401604               2  10011.0
257  26.310777 -80.253225              17  10033.0

# Data from USA Today on mass shootings (http://www.gannett-cdn.com/GDContent/mass-killings/index.html)

In [202]:
usatoday = pd.read_csv("./data/USAToday.csv",sep="\t",header=None,parse_dates=[0])
usatoday.columns = ["date","city","state","type_attack","motives","number_victims"]
usatoday = usatoday.loc[usatoday["type_attack"].str.contains("hooting")]
usatoday.to_csv("./data/usatoday_formatted.tsv",index=None,sep="\t")
usatoday.head(2)

        date    city   state type_attack         motives  number_victims
1 2006-01-30  Goleta  Calif.    Shooting  Public Killing               7
2 2006-02-21    Mesa   Ariz.    Shooting           Other               5

In [214]:
usatoday_u = pd.read_csv("./data/usatoday_u_formatted.tsv",sep="\t",header=0, parse_dates=["date"])
usatoday_u.columns = ["date","city","state","type_attack","motives","number_victims","lat","lon"]
usatoday_u.head(2)

,date,city,state,type_attack,motives,number_victims,lat,lon
0,2006-01-30,Goleta,Calif.,Shooting,Public Killing,7,34.435829,-119.827639
1,2006-02-21,Mesa,Ariz.,Shooting,Other,5,33.415184,-111.831472

In [215]:
#For self-excitation
usatoday_se = usatoday_u[["lat","lon","number_victims","date"]]
usatoday_se = usatoday_se.sort_values(by="date")
usatoday_se["date"] = usatoday_se["date"].diff().dt.days
usatoday_se["date"] = np.cumsum(usatoday_se["date"].replace(np.NaN,0))
usatoday_se = usatoday_se.loc[(usatoday_se["lon"]>-140)&(alyssa_u_se["lat"]>23)]
usatoday_se.to_csv("./data/usatoday_self_excitation.tsv",sep=" ",index=None,header=None)
usatoday_se.tail(2)

           lat        lon  number_victims    date
211  33.322662 -80.413704               4  3453.0
212  35.045630 -85.309680               5  3454.0

# Data K-12 SSDB

In [174]:
pd.options.display.max_columns=100

In [104]:
ssdb = pd.read_csv("data/K-12 SSDB (Public) - K-12 SSDB (Public) Linked.tsv",sep="\t",engine="python",skiprows=1,quoting=3,
                   parse_dates=["Date"],infer_datetime_format=True)
ssdb["Address"] = ssdb["School"] + ", " + ssdb["City"] + ", " + ssdb["State"] + ", United States"

ssdb = ssdb.loc[:,["Date","State","School","Type_school","Death",
            "Suicide (or attempted suicide) by Shooter (Y/N)",
            "Killed (includes shooter)","Reliability Score (1-5)","Category","Address"]]

ssdb.columns = ["date","state","school","type_school","death","suicide","number_victims","reliability","category","address"]
ssdb["death"] = (ssdb["number_victims"] > 0).astype(int)
ssdb["type_school"] = "K-12"
ssdb["suicide"] = ssdb["suicide"].map({"Y":1,"N":0})
ssdb.head()

/home/javiergb/Programs/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,date,state,school,type_school,death,suicide,number_victims,reliability,category,address
0,1970-01-05,DC,Hine Junior High School,K-12,1,0.0,1,3.0,Accidental,"Hine Junior High School, Washington, DC, Unite..."
1,1970-01-05,DC,Sousa Junior High,K-12,0,0.0,0,3.0,Accidental,"Sousa Junior High, Washington, DC, United States"
2,1970-01-05,DC,Unnamed High School,K-12,0,0.0,0,2.0,Robbery,"Unnamed High School, Washington, DC, United St..."
3,1970-02-06,OH,John F. Kennedy High School,K-12,0,0.0,0,2.0,Escalation of Dispute,"John F. Kennedy High School, Cleveland, OH, Un..."
4,1970-03-23,CA,David Starr Jordan High School,K-12,0,0.0,0,2.0,Unknown,"David Starr Jordan High School, Long Beach, CA..."

In [89]:
results = get_lat_long(ssdb["address"],key)

Starting now
38.8923472 -76.97896759999999
38.8839745 -76.9531487
38.9672873 -77.0193303
41.4494718 -81.5607
33.8722207 -118.1840179
34.2161319 -92.05407439999999
39.76428 -75.53298
26.4605387 -80.1128433
41.2493595 -111.9511011
31.7337929 -106.3723188
25.8051806 -80.2267373
36.1339392 -86.76598419999999
41.5312612 -90.57645269999999
42.6389216 -83.29104679999999
36.1887559 -95.9708218
36.1631124 -86.8124993
40.7626493 -82.5429017
41.7182472 -87.62071139999999
44.2487795 -88.4333529
40.0714999 -75.1743432
40.0312226 -74.8821102
32.6996702 -96.8157572
41.5352632 -81.6104739
32.228453 -110.963284
40.2931721 -76.89852239999999
42.1024415 -86.457231
42.7686922 -78.618675
40.139574 -79.869912
33.5705848 -101.8155127
42.937193 -78.8791182
44.9489021 -93.1484443
37.1873005 -77.3950615
39.3256435 -76.5969191
39.3147394 -76.6549423
39.3325577 -76.6894252
32.4291476 -104.234687
36.5873018 -94.7821621
39.2917249 -76.687831
34.0260066 -118.1933118
39.3044007 -76.6526347
38.9345928 -77.02139129999999
41.1680875 -81.3971091
39.2987111 -76.6411846
39.3309194 -76.63788679999999
41.7458355 -87.6520244
41.8033311 -87.5893833
33.9410832 -118.2457641
29.7016228 -95.4387495
30.2282633 -90.9150301
39.520756 -119.794594
Addressed parsed 50 out of 1377
39.6877735 -86.27685989999999
29.812152 -95.32972699999999
43.40630669999999 -83.9257097
29.6913412 -95.36382719999999
41.0663777 -81.5289402
34.0108793 -118.2510101
42.6389216 -83.29104679999999
25.839045 -80.2136695
35.7163686 -80.9104741
34.1079309 -118.2774744
36.0886279 -79.39663759999999
32.348503 -86.3559152
37.5524906 -77.40387779999999
33.9353785 -118.268409
41.1020962 -80.6477754
34.0699853 -118.1862623
41.9223035 -87.82964679999999
38.6625317 -90.2219602
38.6596524 -90.23892320000002
41.0257261 -81.6079922
44.9489021 -93.1484443
38.70117219999999 -90.25557529999999
41.8240477 -87.6197929
33.7868045 -118.1829363
33.9698447 -118.2691485
39.128662 -84.52168600000002
41.7546087 -87.6713822
33.9353785 -118.268409
37.7266434 -122.179217
38.8859036 -86.0457121
41.1602885 -73.215892
36.5259569 -82.7101101
28.317647 -81.411492
37.6956653 -122.4660072
34.2728671 -118.4428079
29.9651555 -90.38308549999999
39.3147394 -76.6549423
32.7979541 -79.9361991
34.7289811 -92.26181609999999
32.7979541 -79.9361991
34.0082618 -118.2921733
42.0825621 -78.4345543
40.761799 -73.368906
39.726944 -75.4722898
29.6741447 -95.3399432
38.6596524 -90.23892320000002
39.1107209 -94.45817249999999
39.759123 -84.175196
38.62699509999999 -90.14844269999999
42.4365893 -83.2285989
Addressed parsed 100 out of 1377
41.8797104 -87.6804568
38.6046182 -90.2708809
35.4154053 -97.5447626
32.8272176 -104.4035617
33.7465027 -84.33124649999999
33.7963832 -117.8483638
33.50538179999999 -112.0232069
39.9577849 -83.02285719999999
30.4268169 -87.2996598
42.3494717 -83.0836558
32.6836655 -97.2942525
38.6165583 -90.34347559999999
26.825103 -80.101136
39.700877 -78.8802608
36.0791926 -79.7412446
42.4065389 -83.2445568
38.6006072 -90.21900099999999
41.6616695 -87.69595389999999
41.6897069 -87.63784
35.218386 -101.8287968
38.6002121 -90.2368527
38.64698 -90.01134300000001
42.7164618 -78.8265845
33.7378829 -102.3266243
36.296088 -86.773883
28.3758887 -80.75599679999999
41.9032469 -87.6639604
38.783289 -104.821372
38.6480243 -90.2210954
38.8301158 -90.31588339999999
38.2231456 -122.6365764
28.5406621 -81.56842750000001
42.1834614 -71.1032982
36.8765176 -87.4914568
38.3732171 -81.8419885
42.6931191 -84.55677899999999
38.456273 -122.752481
36.0571742 -86.7239333
42.3306114 -83.1787564
32.7749288 -96.7493497
41.9613366 -87.8151834
30.3540274 -97.7586065
39.9578906 -75.2385149
39.12773 -75.4684352
42.182334 -70.94324499999999
32.8565288 -85.1970425
38.66508779999999 -90.3293029
40.7653291 -73.9930871
41.3239572 -72.90760709999999
32.7970777 -117.0113626
Addressed parsed 150 out of 1377
26.0122991 -80.21739
34.0554228 -118.3329959
43.0337278 -88.0163883
41.33292480000001 -75.7794809
32.89249 -97.52997789999999
39.949418 -84.03342400000001
29.9396352 -90.09104839999999
42.3804138 -71.06095909999999
38.6214499 -90.26977529999999
39.7655047 -86.1991647
33.046233 -96.994174
39.3273023 -76.6003569
38.6434234 -90.20372189999999
33.3698711 -93.4810849
37.3157667 -76.7639812
38.924521 -76.977459
32.509714 -94.716943
39.7773318 -86.1327721
31.2504946 -90.46317409999999
32.7043182 -96.82309049999999
39.3147394 -76.6549423
37.1995849 -75.9585417
40.6695301 -73.9618677
33.98102280000001 -118.0447992
30.2464887 -81.76572019999999
38.8994175 -76.9706681
30.7174109 -88.1837833
41.1889732 -73.20548769999999
33.1981643 -87.5490995
33.43043 -87.033017
32.7480228 -97.2327569
41.4740474 -82.154833
33.5151756 -86.8296064
41.246831 -81.8204183
39.2919102 -76.6343826
34.0082618 -118.2921733
34.7605212 -92.3474361
39.8251187 -85.9895105
26.1396503 -80.1759107
41.464486 -81.591247
30.8321598 -89.5252857
30.0093179 -91.8377423
27.1960073 -80.2455621
39.94060109999999 -75.23246189999999
32.7094027 -103.1218759
39.5163227 -76.1711603
41.7652258 -72.7010105
40.659109 -73.9430868
29.7273577 -95.39078049999999
40.6101298 -73.947968
Addressed parsed 200 out of 1377
35.0999995 -90.0167743
42.285317 -71.075862
29.9743098 -90.0765232
44.0535256 -123.0158084
41.4465496 -82.1904797
36.13815470000001 -115.1210027
39.5867127 -105.1019619
39.3325577 -76.6894252
34.0054682 -83.7347927
33.6609605 -85.8201258
36.16978170000001 -115.2341179
38.803391 -77.26517199999999
34.2094725 -91.9890037
40.696994 -73.71790419999999
42.400462 -83.191217
32.2803997 -90.2417644
34.712514 -86.583668
42.390245 -82.95343249999999
29.7954163 -95.3930864
38.6101605 -90.5074545
39.3188328 -76.66443749999999
31.8315345 -99.43312019999999
29.0412243 -81.28400250000001
35.81539 -86.410169
35.096572 -106.63567
41.8390596 -87.63323079999999
38.6625317 -90.2219602
32.8878008 -96.7268213
40.7736168 -73.2550238
25.8969252 -80.184148
40.7623161 -82.5433523
40.3031728 -78.9097287
42.4396448 -83.2376357
33.892444 -118.1817663
39.309954 -76.677904
33.4077355 -91.03855659999999
31.1062802 -97.353633
33.8903235 -118.22723
39.3044007 -76.6526347
42.4069104 -83.0951852
41.9509619 -87.664931
39.2987111 -76.6411846
40.0209269 -86.90744409999999
42.319951 -89.084096
39.3163674 -76.5896443
38.2502019 -85.7707066
29.6834509 -95.5166998
33.9985521 -118.2617955
30.8626807 -91.0137148
42.4136067 -83.1775163
Addressed parsed 250 out of 1377
34.85104 -78.024087
47.52026859999999 -111.3192554
41.5982043 -93.44592469999999
29.8218559 -95.3988651
33.91183240000001 -117.5466912
41.502201 -81.56294799999999
42.4213221 -83.1646032
32.5040265 -93.774143
32.8423902 -97.2301196
29.9545572 -95.62994119999999
41.3223636 -75.8112451
42.38358909999999 -83.11178269999999
42.3749097 -82.9784229
40.54665749999999 -84.58839379999999
34.6123586 -82.7839597
30.2282633 -90.9150301
39.3570339 -76.7497051
38.78875499999999 -89.97524899999999
32.72078510000001 -97.1167816
37.6545214 -97.5769722
42.274377 -71.0671306
41.7416983 -72.7057918
29.9010829 -95.3288719
28.5911296 -82.413705
32.8473091 -96.8074692
37.5421433 -77.41993099999999
29.7717292 -95.31988989999999
29.881309 -95.677185
39.8096368 -84.31018979999999
39.3163674 -76.5896443
42.3494717 -83.0836558
38.88955929999999 -83.8911959
47.1150727 -122.4277165
33.3340545 -86.6803613
43.2004366 -71.551175
40.0851766 -74.9865832
41.5803957 -72.62245759999999
36.093821 -78.9118029
33.9111229 -118.2708316
39.3163674 -76.5896443
30.29182 -89.73791
41.6209271 -87.5986872
25.8303507 -80.2275057
36.1269661 -90.16150239999999
35.1547493 -78.88646
33.7205643 -84.3870819
42.08687219999999 -110.9545322
36.23207 -86.750906
34.0821574 -118.3597627
38.0648321 -122.1756587
Addressed parsed 300 out of 1377
34.1483484 -118.0171262
32.6996702 -96.8157572
47.053473 -109.423892
34.0554228 -118.3329959
42.4186369 -83.21801789999999
35.2074294 -93.1571745
34.43199 -112.070567
40.8941889 -73.7895765
39.58625869999999 -94.92852769999999
31.7337929 -106.3723188
33.780369 -117.7917576
42.3494717 -83.0836558
45.53905109999999 -122.6268374
39.8765222 -86.2548305
28.0118271 -82.5185865
35.8243194 -90.6900563
41.72162 -87.767984
41.564892 -87.56170569999999
41.8045878 -87.6247619
35.208074 -77.564869
42.3190803 -83.0917478
27.9585454 -82.7563107
29.4091358 -98.54827490000001

30.27762299999999 -81.61151360000001
40.678748 -73.87521319999999
40.5827332 -73.9636603
29.806465 -95.695424
39.9282102 -75.3385522
28.100798 -82.5035101
41.6337012 -80.12619649999999
32.5341636 -92.7865659
30.3224789 -97.6898391
33.1994604 -87.5079894
27.8807696 -82.7238871
41.68770840000001 -71.2692521
42.35426959999999 -83.2478407
34.1769133 -117.3094582
30.2329676 -97.74418539999999
41.81411749999999 -87.60377869999999
26.6197477 -81.86507189999999
42.1143602 -87.7457302
40.8439944 -73.88452099999999
32.2803997 -90.2417644
42.401428 -83.136196
21.3849016 -157.9300814
43.05099020000001 -87.9303396
32.3175301 -90.2025396
42.38358909999999 -83.11178269999999
34.496686 -82.6645757
32.756467 -96.751881
Addressed parsed 350 out of 1377
35.2409912 -80.7819896
33.4321554 -82.0740562
41.8648712 -87.66659659999999
32.7872032 -80.03834859999999
28.5723712 -81.88571220000001
30.4763011 -91.1517733
30.2549618 -81.7375978
39.2917249 -76.687831
30.6966263 -88.0532326
39.281707 -76.63856190000001
29.9026191 -94.0381736
30.344278 -81.722931
40.7376923 -111.9303998
32.4063785 -99.7488642
36.7604006 -76.1843513
37.982571 -121.3013269
38.9499299 -77.07749199999999
40.6448055 -112.0257774
41.609951 -87.263661
32.6925137 -96.7653582
33.590707 -112.340483
37.4368391 -83.98618689999999
33.8111268 -117.9439948
32.7155983 -96.7913578
40.8185183 -73.91996809999999
32.6854325 -97.10164119999999
34.1711111 -119.162638
32.4973044 -93.7198092
32.7454139 -96.6675982
40.3257295 -79.8244201
34.6881561 -81.20265940000002
41.816638 -71.42099499999999
39.1092579 -84.5230385
40.6134264 -74.0029406
32.7805044 -96.69004629999999
37.3463737 -121.8091777
35.8084473 -87.4293977
32.7118741 -97.2372224
35.1716427 -80.8332355
32.7482407 -96.82035959999999
36.1801412 -115.049472
29.4253751 -98.3992038
32.7482407 -96.82035959999999
38.4553294 -85.6674178
32.9562402 -96.6384616
30.24785 -89.79030999999999
32.9531393 -96.7622435
32.7584158 -96.689455
29.9501281 -90.0890234
32.4284032 -87.0226785
Addressed parsed 400 out of 1377
34.68855569999999 -82.3585816
35.2409912 -80.7819896
34.9502215 -81.08301449999999
33.92156170000001 -118.2270514
33.1858662 -90.48474560000001
39.9615551 -82.9635109
39.12513149999999 -94.7267559
34.1626842 -118.4272896
33.9582876 -118.4287235
33.89388539999999 -118.2581507
29.6299226 -95.436623
41.8140942 -87.6084813
29.8954703 -95.0686956
29.8110129 -95.54760209999999
34.0228182 -118.3463426
34.0379653 -118.2103429
40.83204509999999 -73.8783844
42.3319323 -71.0908397
29.692567 -95.178162
34.7318476 -82.0219285
42.8743921 -72.2796438
32.6996702 -96.8157572
29.9301103 -90.09468319999999
31.7004442 -106.3408857
29.7107556 -95.27799279999999
40.6668454 -73.8952889
34.335039 -78.707179
30.0124722 -90.0602893
30.0124722 -90.0602893
35.4753502 -97.47509989999999
36.8532861 -76.266716
40.6668454 -73.8952889
39.8573576 -82.9873862
29.9424474 -90.0396645
26.6282483 -81.8776644
32.756467 -96.751881
39.0835674 -121.537714
34.72377180000001 -86.5748825
38.2952878 -122.2619264
33.9980938 -118.4442427
37.3203616 -120.4728461
35.2276189 -101.8238735
38.5409007 -121.424904
29.8263689 -95.50771259999999
32.135965 -110.9042465
40.8755572 -73.861435
42.390245 -82.95343249999999
42.3593031 -83.0016543
42.4213221 -83.1646032
41.7998264 -87.6504542
Addressed parsed 450 out of 1377
29.881309 -95.677185
33.4912583 -86.9082481
41.8075276 -87.64235269999999
32.3785306 -86.2720641
41.893927 -87.726435
41.8140942 -87.6084813
42.1600699 -75.1269708
40.7736168 -73.2550238
25.9515015 -80.22051189999999
38.3246518 -82.9335175
34.0821574 -118.3597627
47.6919034 -122.1198912
40.6705962 -73.4119401
33.6090778 -84.4396972
38.90955599999999 -76.9941424
48.7893835 -96.2866138
34.1899991 -118.5302945
42.613532 -70.67519159999999
33.4568869 -82.3133079
38.6596524 -90.23892320000002
38.6361628 -121.4350538
41.7233555 -70.9049794
38.6361628 -121.4350538
47.1893447 -122.5026292
32.7928321 -96.94680559999999
40.3815416 -75.4900227
29.9654663 -90.03695549999999
34.0228182 -118.3463426
40.8595162 -73.8885805
33.7695575 -84.49880309999999
39.0315874 -96.84962469999999
32.741673 -96.7953495
41.9657658 -87.71418290000001
44.803249 -106.964044
41.7708561 -88.02025739999999
38.9071923 -77.0368707
39.6688493 -75.5842303
38.8511843 -76.9836523
42.0028084 -87.6689166
41.6499035 -72.77803879999999
30.342184 -81.57536999999999
31.9776141 -89.27789849999999
39.8287 -89.6437815
43.0683607 -88.055452
41.6499035 -72.77803879999999
32.0547935 -81.11589099999999
34.2533875 -118.5863634
42.311417 -84.0023648
34.0077519 -117.977114
31.3611221 -95.179993
Addressed parsed 500 out of 1377
34.0481368 -81.0426049
38.9077814 -77.0129006
38.8923472 -76.97896759999999
37.3211268 -121.8812984
47.6965669 -122.3777192
42.434046 -83.0027346
34.9555439 -81.89807119999999
38.9715405 -92.7463245
33.5063419 -86.893309
38.8903247 -76.9795263
32.9737479 -80.01643179999999
47.6766558 -122.3754002
34.1161551 -84.56422889999999
30.4492728 -97.73324819999999
38.8862713 -76.82034879999999
45.9300592 -112.4610221
33.9985521 -118.2617955
38.8923472 -76.97896759999999
36.095479 -86.802494
25.8969252 -80.184148
41.0589929 -74.2817528
38.933132 -84.6773577
40.4566107 -80.02691949999999
41.0151627 -92.4062057
34.099165 -118.3400514
43.0101786 -78.7970543
33.9353785 -118.268409
44.5295674 -122.9145339
36.083774 -79.816143
41.7801987 -87.71864699999999
33.5617208 -117.7193706
37.712952 -122.135365
41.6051779 -81.47400689999999
42.48913890000001 -91.4537546
41.3239572 -72.90760709999999
47.2660086 -122.4484925
38.9214669 -77.0283798
26.825103 -80.101136
47.6053376 -122.301866
34.0519 -117.18246
33.8722207 -118.1840179
42.82462100000001 -102.9952598
42.4186369 -83.21801789999999
26.6162504 -80.066614
27.5142102 -99.49414089999999
35.1671141 -89.9879354
38.8875164 -94.8082785
30.7788699 -88.1789417
28.77041419999999 -81.741118
33.3642976 -81.26365729999999
Addressed parsed 550 out of 1377
28.6374281 -81.2731342
37.5524906 -77.40387779999999
29.0309293 -81.2771264
35.3373936 -87.0319124
40.7162714 -73.7983076
42.0081823 -80.3339823
38.8575428 -76.9629929
35.1315944 -89.95435169999999
47.1266968 -119.2829335
37.4764263 -122.1519854
32.0230981 -81.0832346
38.6625317 -90.2219602
35.4269793 -80.21166439999999
36.2292513 -115.1867916
33.4225456 -86.0775347
38.9145641 -77.00488899999999
40.5637801 -111.9464736
34.0700735 -117.3344699
33.7200218 -117.0097452
34.1079309 -118.2774744
33.7984364 -84.1980707
40.0196872 -75.0740096
33.95429 -118.4328237
34.8503163 -92.2357363
38.6596524 -90.23892320000002
38.6872936 -121.3591664
40.6699636 -73.9615536
26.678282 -80.0617539
60.8021495 -161.7704565
30.4826354 -81.6083022
42.4321756 -83.0642903
34.001115 -118.445798
34.1079309 -118.2774744
40.7291091 -74.0060997
25.839045 -80.2136695
39.7330909 -84.2311825
32.2704073 -90.0934734
41.5360783 -87.34228530000001
32.8575318 -96.5761307
27.5268124 -82.56187829999999
37.8180626 -122.2787164
33.9078157 -118.0532265
30.390581 -81.7077094
38.613311 -121.394517
37.0789529 -88.7944009
33.3698711 -93.4810849
40.7475621 -74.03322639999999
43.86657839999999 -85.512441
38.905904 -77.2123123
35.8570841 -90.8058207
Addressed parsed 600 out of 1377
41.9500099 -85.0121812
37.6767607 -122.4861439
35.8898717 -79.0673549
43.6852954 -88.54169619999999
34.0068446 -118.4013141
41.9152581 -80.12111
43.5350605 -89.2948206
34.0324514 -117.7436689
25.8969252 -80.184148
42.9597801 -78.7830884
35.1351532 -86.5683676
44.0487449 -122.9250739
46.5820759 -122.7188183
34.0894025 -117.3548926
34.171769 -118.147734
26.1128269 -80.1644877
37.5524906 -77.40387779999999
34.1657364 -118.270532
25.8969252 -80.184148
28.8083228 -81.8885751
40.0564216 -75.1616521
41.9569048 -75.2809908
41.5901632 -87.3623916
39.7800141 -86.29042510000001
33.5521081 -85.0682758
40.874285 -73.83332899999999
32.8423902 -97.2301196
41.9534466 -88.0816759
31.1371185 -89.411064
42.0258557 -87.7717629
43.735786 -116.7972875
39.6038386 -105.0742384
30.5299396 -91.16996879999999
33.7385063 -84.37954669999999
33.627276 -84.04670999999999
33.3363897 -83.7144196
37.2351771 -121.8283133
28.0076502 -82.4982395
39.9219861 -75.2337074
36.135475 -115.197115
34.2728671 -118.4428079
38.2486944 -82.18966669999999
40.0564216 -75.1616521
29.468127 -95.0309497

32.249322 -107.7803914
35.7936675 -95.23925539999999
61.2320185 -149.7334299
35.096572 -106.63567
28.2712236 -82.68880659999999
35.6193959 -82.6263124
Addressed parsed 650 out of 1377
37.2871585 -120.4951994
41.2136804 -95.9463689
39.93732240000001 -75.2503682
41.8853859 -87.76621870000001
43.0803044 -83.7055136
32.0547935 -81.11589099999999
40.7737774 -80.7598931
34.0148897 -95.51072239999999
32.3104298 -110.9937843
39.647822 -104.922373
31.562682 -110.2992417
26.632908 -80.07081
47.4924296 -122.2324887
40.7993967 -81.3787701
38.9236892 -82.28931740000002
39.2650112 -84.56178899999999
29.9396352 -90.09104839999999
44.9941737 -93.2997876
33.6192444 -112.1958595
32.9790746 -96.8922292
34.260973 -118.5252465
32.825762 -117.104945
37.9520704 -122.346888
25.9520128 -80.2171563
37.7215796 -122.4407711
34.1605528 -119.182211
39.3163674 -76.5896443
42.434046 -83.0027346
32.7554975 -117.0979213
32.857439 -116.9691749
38.8862713 -76.82034879999999
41.2492558 -76.9964607
47.370635 -122.120278
32.7983446 -116.9144468
41.5360783 -87.34228530000001
30.0180977 -95.5271487
46.7429265 -119.8940564
32.510266 -92.14287610000001
41.44762370000001 -81.79040479999999
32.3024448 -96.629331
32.6409421 -97.0969342
34.0614573 -118.2629339
39.044138 -84.49833629999999
39.3163674 -76.5896443
40.6553949 -111.9369719
33.8471175 -118.3840853
41.8528502 -87.664554
43.4891441 -83.3958562
29.494431 -95.1855336
32.2456246 -90.4385934
Addressed parsed 700 out of 1377
40.7748991 -73.9856156
40.3861054 -75.7830231
32.6726712 -97.93078
33.8684346 -118.296141
41.9657658 -87.71418290000001
38.6427149 -121.3135266
39.3652366 -76.5911734
30.030091 -89.9720498
29.3983019 -98.477539
47.52026859999999 -111.3192554
38.9580428 -76.7455057
40.7174079 -74.0701295
39.2407007 -94.4551553
33.878233 -118.270776
32.5124169 -96.3823991
42.434046 -83.0027346
45.7010154 -121.8881122
41.7751033 -87.66907859999999
38.31078 -83.1484854
36.026176 -95.9702647
39.8424595 -105.0166037
42.7849919 -91.0964109
32.4471862 -88.67205659999999
36.9243882 -121.7856992
38.9214669 -77.0283798
29.9743098 -90.0765232
32.47914480000001 -93.7907044
32.942326 -96.84404800000002
39.8915833 -76.6083444
40.3323359 -78.7541366
41.7508468 -77.3037679
32.3214761 -90.88568930000001
39.4012872 -76.93133809999999
42.3804138 -71.06095909999999
47.65195019999999 -117.4204967
45.464025 -94.4284708
35.425867 -81.5394894
38.4705438 -121.432614
41.0455865 -81.5582281
32.9015214 -92.2420822
38.870192 -76.982263
29.5317092 -95.49774459999999
35.1752502 -80.7579975
41.7673044 -87.5902468
35.4753502 -97.47509989999999
37.7251256 -89.1873871
39.0880708 -76.64909999999999
40.5919227 -74.3206689
30.322936 -81.47767259999999
34.0858778 -117.7401771
Addressed parsed 750 out of 1377
36.0077756 -114.9799595
38.8393559 -77.00142269999999
29.7103184 -95.5944536
32.47914480000001 -93.7907044
42.6244229 -73.6911449
39.9984691 -75.1681919
39.7800584 -84.21771919999999
30.08935899999999 -91.834289
34.0756528 -118.2865238
48.1358278 -123.7457545
29.823116 -95.3161537
39.3826532 -76.7967049
37.3005535 -120.4742289
40.7742989 -111.9004459
37.7592629 -122.1631186
33.6112208 -86.6831918
35.0999995 -90.0167743
41.8802148 -87.8335909
29.9501281 -90.0890234
41.609951 -87.263661
40.8984431 -98.34137729999999
42.8131417 -70.8862475
37.3971661 -122.0034206
39.4160472 -121.7065813
39.3184459 -76.54631549999999
37.63771819999999 -122.0753591
41.5983049 -87.4067285
33.5151756 -86.8296064
32.4340162 -80.7444618
28.6875909 -81.5086674
30.342184 -81.57536999999999
47.80895229999999 -117.5583779
30.1954529 -93.2070002
29.58939509999999 -95.78311749999999
39.9950245 -75.16686469999999
42.38358909999999 -83.11178269999999
40.7083464 -89.5723915
33.7051 -84.32589999999999
41.7341011 -87.5575717
36.487048 -87.830471
36.2322308 -86.7497302
32.79491290000001 -96.7706465
39.94029159999999 -82.87918789999999
40.390883 -79.9893781
33.9353785 -118.268409
29.9424474 -90.0396645
47.8784926 -95.01437899999999
40.6134264 -74.0029406
35.011956 -90.051048
35.1315944 -89.95435169999999
Addressed parsed 800 out of 1377
32.5450845 -95.8876593
30.0596946 -90.5731819
41.516936 -81.625275
32.9363333 -96.69315189999999
40.2297757 -76.898164
42.2413683 -88.5985855
32.5040265 -93.774143
39.76790039999999 -105.0155917
41.6733744 -73.796628
40.2184957 -74.0221131
40.7091468 -74.22036469999999
17.752589 -64.766255
35.3192612 -119.0129248
33.5928381 -84.3146517
36.0216061 -83.4049763
61.14284739999999 -149.9346092
30.3321838 -81.65565099999999
41.7182472 -87.62071139999999
43.40630669999999 -83.9257097
42.4638375 -83.3612414
40.6480566 -73.9222341
34.128005 -117.23706
43.40630669999999 -83.9257097
36.7772587 -119.7743155
38.9745307 -76.5654433
40.7077563 -73.4443999
36.350981 -84.14779
25.973933 -80.235868
29.437968 -98.529393
42.3269068 -71.0817247
33.7662598 -117.9137194
40.7174079 -74.0701295
39.7730378 -75.50489189999999
43.0508519 -87.9580569
28.6802985 -81.3468102
42.434046 -83.0027346
33.704148 -86.6686481
29.4191645 -95.2624855
36.7975346 -76.2427501
46.1258342 -112.9537633
39.1408651 -84.45070079999999
38.3466192 -121.9777035
32.8575318 -96.5761307
47.52026859999999 -111.3192554
33.885411 -118.2410482
39.6688493 -75.5842303
39.959148 -76.7679189
40.4609795 -79.90090029999999
43.215794 -123.353959
40.7459488 -73.87962209999999
Addressed parsed 850 out of 1377
39.4798018 -119.7807836
38.943046 -77.0291751
29.6491333 -95.4810579
35.960661 -79.0308
25.973933 -80.235868
34.067317 -81.17275839999999
40.6880968 -75.4898163
33.9980938 -118.4442427
41.609951 -87.263661
42.4321756 -83.0642903
27.9810504 -82.4383331
37.8050974 -85.9881545
30.188675 -97.743119
41.0918193 -80.6964555
31.7952788 -81.61283499999999
37.984834 -87.384368
44.5129823 -73.0556599
38.8699306 -76.9826281
36.0929095 -79.0962782
33.6110744 -85.83116679999999
35.1667921 -89.9250484
32.6571197 -97.35887020000001
38.6370857 -90.5034903
38.9214669 -77.0283798
39.4207943 -105.532192
43.4801539 -90.19097819999999
39.9592143 -76.0804172
37.0823826 -94.5163846
41.1661928 -74.0521357
39.3421944 -76.6994169
29.7074544 -95.8080054
36.088592 -83.9258996
37.7296328 -122.1800595
33.7540742 -84.33736379999999
35.033076 -77.333692
41.3144937 -96.0406268
41.9026116 -87.6864154
40.102534 -75.196589
40.8856663 -75.1514574
40.1409712 -80.3629871
35.0843529 -78.9917528
47.2395134 -122.4965307
42.3585276 -83.10333539999999
39.1092579 -84.5230385
36.1759926 -115.2035757
34.1773047 -118.415762
39.9574001 -75.2387906
35.2107894 -88.2463389
41.57335250000001 -87.7121816
30.3445234 -81.724052
Addressed parsed 900 out of 1377
44.2928454 -120.8332253
29.8999875 -94.0179077
34.1287395 -117.911818
33.6965647 -84.3017665
33.1046477 -96.1198234
43.6407382 -84.2754104
33.9145819 -118.2518791
35.0233599 -85.279787
28.5671525 -81.2456938
41.7961641 -72.70072809999999
33.7193202 -78.8680278
41.73828830000001 -87.57287509999999
45.486355 -122.407322
35.3726485 -80.83415149999999
39.715453 -84.16927079999999
28.9000705 -96.1382089
42.4396448 -83.2376357
32.761534 -96.6356081
26.112691 -97.514488
41.6871551 -71.5435558
35.6992106 -78.62914959999999
35.716032 -78.611772
32.4216253 -80.75607769999999
32.6492691 -96.849171
41.8140942 -87.6084813
40.7371791 -74.2448529
39.479895 -121.537318
41.5340038 -72.8267207
41.5038245 -81.6948759
35.1707184 -90.0322099
29.9636145 -90.2216052
43.2535684 -75.2543625
37.6060025 -122.0277892
35.0999995 -90.0167743
35.0568899 -90.08553069999999
34.16530050000001 -119.1816895
30.6623856 -88.1464481
36.741442 -119.7523391
32.3982812 -91.2074317
46.1348552 -122.9124591
47.32002199999999 -122.354372
36.0400867 -83.92445719999999
41.6248036 -81.4212455
38.6322107 -121.3709321
33.9373633 -118.3029342
42.4396448 -83.2376357
34.493484 -118.21636
32.479883 -86.405138
37.0065687 -121.5615193
44.49741220000001 -68.8582224
Addressed parsed 950 out of 1377
34.232631 -119.171905
33.9724376 -118.1904946
26.1396503 -80.1759107
40.387895 -105.1006456
37.0507246 -113.5673046
37.807482 -122.289775
37.5792147 -120.9582403
29.8694821 -95.264611
33.7717313 -117.9285955
36.2095234 -121.1342819
44.3022459 -93.260187
40.7805739 -72.8508782
35.673183 -79.808911
32.9941614 -80.2182656
27.9082175 -82.7839008
39.9722699 -75.1534685
32.061822 -81.066834
35.2106534 -97.4187863
39.6688493 -75.5842303

41.8404753 -87.6181897
41.8608315 -87.6274658
43.0984267 -83.71533889999999
41.8643651 -87.7011464
42.137546 -80.0594297
38.5648931 -90.1643363
35.650075 -78.46562
34.0661729 -118.0158634
35.8024413 -78.4852234
42.38358909999999 -83.11178269999999
37.6565801 -122.0834135
41.0856093 -73.43315319999999
43.5167054 -96.7217857
35.0843529 -78.9917528
30.390581 -81.7077094
29.892453 -95.6046483
33.9353785 -118.268409
43.7762373 -87.7194166
42.909229 -77.2755766
29.562631 -90.3650057
37.7753816 -122.4216371
42.57303539999999 -92.77852999999999
35.0843529 -78.9917528
41.0593697 -73.5364836
37.6618987 -77.4818006
40.99595619999999 -72.5283285
33.7798928 -78.97076849999999
33.7768888 -118.140621
39.955223 -75.2353265
32.5040265 -93.774143
32.6111637 -88.184477
Addressed parsed 1000 out of 1377
34.7408573 -86.7414711
36.0101194 -83.9591262
39.5867127 -105.1019619
47.268669 -122.459469
36.8141251 -76.3798262
33.9560708 -118.2093189
36.5297077 -82.38709449999999
42.4213221 -83.1646032
33.6848892 -78.9974833
36.6846868 -121.6020867
33.147224 -117.3119795
39.0316284 -95.7466726
45.0831927 -87.6321416
39.7321152 -104.8518465
41.420574 -87.36267099999999
41.2028075 -96.1458147
33.8684346 -118.296141
38.7350781 -120.777826
39.4191607 -86.42716949999999
29.65812799999999 -95.3657642
28.673777 -81.49333299999999
29.8015229 -95.3418241
47.9209912 -122.2373942
21.4008224 -157.962563
35.0343853 -78.7637348
26.3904065 -98.08889309999999
43.036336 -83.7361687
25.913944 -97.4930019
29.8694821 -95.264611
43.08594 -72.42762499999999
47.5921323 -122.6354555
41.5911426 -81.2004121
30.3114448 -81.62152999999999
30.7145083 -88.0870103
36.298114 -94.11971299999999
35.8791344 -79.0684297
35.0999995 -90.0167743
34.309279 -83.498462
39.408758 -76.441093
40.5331448 -88.9148834
36.1404191 -97.0387949
46.0549899 -96.60093719999999
41.7156226 -87.56716569999999
29.8110129 -95.54760209999999
41.419961 -73.2773997
26.640191 -81.8345049
35.1463033 -119.4605088
42.434046 -83.0027346
33.70896159999999 -84.3874939
42.3425947 -83.0165952
Addressed parsed 1050 out of 1377
37.7017466 -122.1163668
33.7805515 -84.3714213
42.192549 -83.19444299999999
31.1062802 -97.353633
39.1890963 -84.58661359999999
33.072224 -106.0131404
33.5644718 -86.717708
25.5372218 -80.4521422
35.268156 -80.784279
26.7088319 -80.0616264
36.5746084 -87.4338039
33.7272193 -84.306962
35.2171948 -90.03734039999999
34.4430242 -89.9250313
36.1342371 -80.2071071
41.9657658 -87.71418290000001
43.9029284 -70.3499192
43.442836 -71.6035424
28.5750842 -81.4754355
30.3602094 -97.7083219
39.5519897 -119.7682995
34.0268117 -117.7144068
43.06417709999999 -94.2231546
33.7745962 -84.1245479
40.4191002 -80.0182092
28.5406621 -81.56842750000001
39.58160890000001 -104.9627974
36.7208498 -119.8064788
35.67484870000001 -88.759997
41.3222521 -72.9394501
33.4730345 -104.5123686
40.034016 -76.2995571
39.9486859 -75.1625633
37.7284717 -89.2276224
21.3106137 -157.8374321
33.3758329 -112.145292
41.6177052 -93.6232069
44.0524554 -121.2959239
35.6646335 -80.4851398
41.5220323 -81.5052972
38.9816379 -94.456339
32.3982812 -91.2074317
25.8824175 -80.23582619999999
33.5907246 -84.5193255
40.7621392 -74.1924064
35.5303639 -77.3247248
39.9175719 -82.853172
42.4080309 -82.92905329999999
40.25044339999999 -111.7154762
41.5306881 -87.42718169999999
Addressed parsed 1100 out of 1377
47.9209912 -122.2373942
37.9247715 -122.3285994
43.0663146 -87.9493564
45.5285812 -122.4024842
37.0454481 -89.47462499999999
39.4362696 -77.4130244
37.0868055 -76.4544323
25.8468711 -80.24377179999999
28.735746 -81.3406881
40.6377014 -111.9729211
41.6177052 -93.6232069
42.9862502 -71.47462519999999
38.1566807 -85.5920281
35.3712493 -80.1927582
33.6162662 -84.6337669
35.0368195 -90.00098720000001
48.0962113 -122.1545265
25.9413812 -80.2573833
45.562025 -122.674272
40.4812232 -79.9334387
44.5890192 -69.5780425
43.0337278 -88.0163883
29.217367 -82.1371489
30.669743 -88.0741738
32.29747 -81.09598799999999
45.0047961 -93.1789064
39.4168046 -77.4273195
37.29283909999999 -120.4940822
34.7162927 -92.4935737
38.6660163 -90.309857
29.5776493 -97.94697289999999
36.2434615 -115.2551421
47.0519675 -122.832561
41.4753136 -81.65618719999999
33.6839165 -84.00467859999999
33.3252181 -111.926166
30.3173151 -81.6503743
31.4627157 -97.1213882
42.9981036 -83.6995714
25.8641456 -81.38641849999999
35.1134362 -83.39924359999999
41.4563607 -96.0216473
41.7961641 -72.70072809999999
29.4184088 -98.6407119
32.9611026 -96.9688226
29.4862105 -98.3175399
33.1437673 -97.6952658
29.5391894 -95.6830167
33.4591275 -81.93813689999999
30.251483 -92.002838
Addressed parsed 1150 out of 1377
35.92814300000001 -80.960623
43.4342954 -96.7194485
29.4566422 -98.3569359
31.1768286 -83.8059043
28.8242959 -82.49846490000002
39.1644558 -75.5231225
34.507824 -92.6435977
39.81465110000001 -86.25855399999999
39.8561399 -86.039936
39.9635895 -75.1620169
43.2072499 -86.2474448
33.5324388 -112.2227537
28.84901009999999 -82.5368897
39.8505578 -75.3672694
31.7381795 -95.6053742
39.5338534 -84.44337530000001
33.6112208 -86.6831918
45.13374839999999 -89.17541279999999
32.6987088 -96.87662
38.289738 -104.5774626
39.0426109 -76.9434668
30.1664545 -85.6387968
42.5753057 -114.4919533
34.7967846 -82.40369489999999
37.6966851 -96.9701564
42.3071524 -71.08116199999999
41.8980098 -87.7470306
36.3345123 -119.6544318
36.9558147 -92.6593437
39.9364969 -83.0994085
36.2251805 -95.97485999999999
42.3585276 -83.10333539999999
30.3719884 -103.665691
41.965818 -91.69870399999999
42.2406803 -84.4127116
34.5633874 -82.9032696
41.876816 -87.7527682
32.7197933 -97.23101899999999
30.7431734 -88.0803667
40.0098443 -82.97386209999999
33.73413 -84.5038407
37.7193732 -122.4248772
40.6070561 -111.8744463
39.08029399999999 -108.5632142
40.29891 -105.0865215
43.6049505 -84.0782016
44.970808 -93.12288199999999
40.8723846 -111.8611858
39.5551599 -119.7972747
38.5521111 -90.3014565
Addressed parsed 1200 out of 1377
32.9452457 -85.94867169999999
29.7434142 -84.8756472
40.21597999999999 -83.754573
33.52191639999999 -81.7127986
30.5338936 -91.17598500000001
44.9982598 -92.99906399999999
36.2095234 -121.1342819
40.48101339999999 -79.8131504
34.1792964 -117.301319
36.1887559 -95.9708218
30.2994839 -93.2033544
30.6485512 -93.8967656
41.3183172 -95.9702145
32.7079616 -87.5882996
41.7277223 -87.57500800000001
34.2196763 -79.73121429999999
43.08978810000001 -87.99262790000002
40.1110631 -111.6604898
33.7939953 -84.6604899
34.7760588 -92.2680571
39.9015268 -82.99680579999999
47.5200002 -117.1963944
39.4736535 -88.3859982
38.9289881 -94.3777698
34.2353606 -118.3974749
40.7352998 -78.91215480000001
42.7397979 -84.52471779999999
33.5907246 -84.5193255
33.090509 -83.264271
40.0187733 -122.3930923
28.5808852 -81.71978349999999
35.6922572 -88.8280262
39.7556641 -104.9666401
37.2883241 -121.9057206
40.77300959999999 -84.0522585
36.7827184 -76.143682
36.820791 -107.9907369
35.95704449999999 -80.0212276
29.677453 -95.18246529999999
32.6978403 -96.7733238
43.0984267 -83.71533889999999
34.6829523 -118.1038675
29.9201583 -90.0045882
48.07287119999999 -122.1608785
47.4961671 -122.3424947
43.2658585 -93.6484651
31.4756376 -110.1955773
44.2606797 -72.58666199999999
32.1809156 -96.87855719999999
30.0273903 -90.0513167
Addressed parsed 1250 out of 1377
36.9128027 -88.3327633
30.682838 -88.08663039999999
42.3087957 -83.26171099999999
40.0442037 -75.0419129
34.06128169999999 -118.2629132
45.021273 -93.0174907
38.797249 -76.993634
40.827337 -73.8974331
36.1643234 -86.8149392
26.304503 -80.26945700000002
26.3264542 -80.1824127
40.8671021 -81.4864226
47.23008069999999 -122.4856235
34.7794315 -84.9860094
38.06802649999999 -90.7453537
33.6112208 -86.6831918
38.0395314 -84.4357461
36.6247147 -121.837884
38.8158603 -77.0554569
46.8504398 -114.0577609
36.8183149 -76.3393191
38.2474355 -76.48741749999999
33.5432173 -89.2742085
43.0529635 -74.3640392
38.9727951 -94.489986
42.2497577 -84.4184976
29.1428356 -82.0673453
33.73413 -84.5038407
35.3084288 -87.7611048
45.4253613 -97.2934787
34.5922192 -118.1755487
41.8466269 -89.4891669
39.06676300000001 -94.541744
29.3922268 -95.14242
33.5546797 -84.3105643
33.321488 -84.295559
40.077283 -86.03118800000001
33.2306807 -96.642534
39.7178653 -84.0707338
45.53905109999999 -122.6268374
32.7805044 -96.69004629999999

46.8471045 -114.0095543
37.2188117 -93.3197647
35.0236537 -90.04978729999999
38.8435107 -94.6378824
41.41493579999999 -81.5401014
38.4377203 -82.0057994
46.5790038 -120.6089187
39.4221685 -76.2860865
26.652448 -80.179552
Addressed parsed 1300 out of 1377
30.3822126 -81.7092892
38.7876032 -89.9688781
39.7626269 -104.9691745
39.1781352 -75.5217558
35.2367612 -80.8126726
42.9257517 -85.6273537
41.65077230000001 -90.5891055
40.8691591 -73.90187569999999
41.816389 -71.42206039999999
36.9950502 -121.5763444
41.7300091 -87.6069524
35.011956 -90.051048
36.233333 -115.136111
26.5417603 -80.08350980000002
47.887831 -122.2363741
34.723494 -86.56701559999999
34.1951647 -118.4482843
35.2261011 -80.7440106
40.0374048 -75.15031689999999
39.2368578 -76.60697259999999
33.0358379 -96.85837699999999
34.6491779 -92.36568129999999
61.2132436 -149.880805
45.53776449999999 -122.5674
35.6012279 -89.24746209999999
36.8705817 -76.1981392
36.1857094 -86.6779701
42.9894476 -71.4796472
42.3612493 -83.220766
35.1208343 -80.6911181
38.1928321 -85.839106
33.8339809 -79.05863409999999
34.4287525 -119.6715096
36.8268365 -76.3662682
43.7835354 -86.4245176
47.3997827 -122.3077305
32.7805044 -96.69004629999999
39.990484 -75.18408629999999
36.7846496 -83.22990899999999
39.831731 -84.911924
39.17943 -94.50950399999999
37.52401090000001 -122.2822173
44.07868 -123.1668485
33.1981643 -87.5490995
38.7761175 -90.2354464
35.9654408 -78.89977549999999
38.8628353 -94.662323
32.4033528 -93.779386
35.1707184 -90.0322099
30.6623856 -88.1464481
Addressed parsed 1350 out of 1377
33.7099216 -84.1490931
29.9794915 -95.17147179999999
44.9785547 -93.2921863
39.3147394 -76.6549423
35.312078 -106.64242
39.6368763 -104.7331317
32.3785306 -86.2720641
39.0167811 -94.64088269999999
28.7774883 -81.32371429999999
34.0850047 -86.5861108
33.7913217 -93.37755159999999
30.3723628 -81.68589469999999
43.0025803 -87.92160609999999
42.4783516 -70.9384518
41.8185075 -87.8234585
35.6634937 -91.8481664
33.7880759 -84.1113273
33.5582841 -84.6279637
38.6492862 -77.3845405
28.2556948 -82.3068533
39.5558326 -104.9979225
45.55295539999999 -122.5407149
30.342184 -81.57536999999999
38.8286428 -76.9991386
42.3522297 -87.8392471
38.8286428 -76.9991386
43.025022 -83.771621

In [90]:
ssdb["lat"],ssdb["lon"] = results

In [91]:
ssdb.to_csv("./data/ssdb_u_formatted.tsv",sep="\t")

In [212]:
ssdb = pd.read_csv("./data/ssdb_u_formatted.tsv",sep="\t",index_col=0,parse_dates=["date"])

In [213]:
#For self-excitation
ssdb_se = ssdb[["lat","lon","number_victims","date"]]
ssdb_se = ssdb_se.sort_values(by="date")
ssdb_se["date"] = ssdb_se["date"].diff().dt.days
ssdb_se["date"] = np.cumsum(ssdb_se["date"].replace(np.NaN,0))
ssdb_se = ssdb_se.loc[(ssdb_se["lon"]>-140)&(alyssa_u_se["lat"]>23)]
ssdb_se.to_csv("./data/ssdb_self_excitation.tsv",sep=" ",index=None,header=None)
ssdb_se.tail(2)

           lat        lon  number_victims    date
257  32.504027 -93.774143               0  5352.0
235  33.407736 -91.038557               1  8667.0

# Data Pah

In [207]:
pah = pd.read_csv("data/pah_us_school_gun_violence.csv",index_col=0,parse_dates=["Date"])
pah.columns = ["date","city","state","area_type","type_school","number_victims"]
pah["type_school"] = pah["type_school"].map({'HS':"K-12", 'MS':"K-12", 'C':"College", 'ES':"K-12"})
pah["Address"] = pah["city"] + ", " + pah["state"] + ", United States"
pah.tail()

,date,city,state,area_type,type_school,number_victims,Address
184,2013-11-03,Lithonia,Georgia,rural,K-12,0,"Lithonia, Georgia, United States"
84,2013-11-13,Pittsburgh,Pennsylvania,urban,K-12,0,"Pittsburgh, Pennsylvania, United States"
86,2013-12-04,Winter Garden,Florida,suburban,K-12,0,"Winter Garden, Florida, United States"
351,2013-12-13,Centennial,Colorado,suburban,K-12,2,"Centennial, Colorado, United States"
121,2013-12-19,Fresno,California,urban,K-12,0,"Fresno, California, United States"

In [ ]:
results2 = get_lat_long(pah["Address"],key)

In [ ]:
pah["lat"],pah["lon"] = results2

In [ ]:
#update data Pah with Alyssa + what manual update
pah = pd.concat([pah,alyssa_u.loc[alyssa_u["date"]>pah["date"].max()]])

In [139]:
#only attacks with victims
pah = pah.loc[pah["number_victims"]>0]

In [140]:
pah.to_csv("./data/pah_u_formatted.tsv",sep="\t")

In [210]:
pah = pd.read_csv("./data/pah_u_formatted.tsv",sep="\t",index_col=0,parse_dates=["date"])
pah.head()

,Address,Unnamed: 0.1,area_type,city,date,death,lat,lon,number_victims,school,state,suicide,type_school
0,"Centerville, Tennessee, United States",208.0,suburban,Centerville,1990-05-20,NaN,35.778957,-87.466959,1,NaN,Tennessee,NaN,K-12
1,"Las Vegas, Nevada, United States",30.0,urban,Las Vegas,1990-08-26,NaN,36.169941,-115.139830,1,NaN,Nevada,NaN,K-12
3,"Compton, California, United States",186.0,urban,Compton,1991-04-23,NaN,33.895849,-118.220071,1,NaN,California,NaN,K-12
4,"Crosby, Texas, United States",31.0,rural,Crosby,1991-09-18,NaN,29.911888,-95.062151,1,NaN,Texas,NaN,K-12
5,"Bronx, New York, United States",154.0,urban,Bronx,1991-10-08,NaN,40.844782,-73.864827,1,NaN,New York,NaN,K-12

In [211]:
#For self-excitation
pah_se = pah[["lat","lon","number_victims","date"]]

pah_se = pah_se.sort_values(by="date")
pah_se["date"] = pah_se["date"].diff().dt.days
pah_se["date"] = np.cumsum(pah_se["date"].replace(np.NaN,0))
pah_se = pah_se.loc[(pah_se["lon"]>-140)&(pah_se["lat"]>23)]
pah_se.to_csv("./data/pah_self_excitation.tsv",sep=" ",index=None,header=None)
pah_se.tail(2)

           lat        lon  number_victims     date
256  36.857377 -88.401604               2  10110.0
257  26.310777 -80.253225              17  10132.0

# Format tweet count

In [152]:
!cat "./data/datav2/14.08.14.tgzSS.txt"

cat: ./data/datav2/14.08.14.tgzSS.txt: No such file or directory

In [ ]:
!ls

In [121]:

def format_tweets():
    import os
    import pylab as plt
    import numpy as np
    from datetime import datetime
    import pandas as pd

    listFiles = os.listdir("./data/datav2/")
    with open("./data/all_tweets_formatted.tsv","w+") as fout:
        fout.write("date\tall\tschool_shooting\tmass_shooting\tmass_murder\tshooting\n")
    for fileT in listFiles:
        if ".tgz" in fileT:
            name = fileT[:-10]
            name = "20" + name[-2:] +"-"+ name[3:5] + "-" + name[0:2]
        elif ".gz" in fileT:
            name = fileT[:-15]
        else: 
            print(fileT)
            continue
            
        date = datetime(year=int(name[0:4]),month=int(name[5:7]),day=int(name[-2:]))

        
        with open("./data/datav2/"+fileT) as f, open("./data/all_tweets_formatted.tsv","a+") as fout:
            lines = [float(_) for _ in f.readlines()]
            fout.write("{}\t{}\t{}\t{}\t{}\t{}\n".format(name,*lines))

In [155]:
df = pd.read_csv("./data/all_tweets_formatted.tsv",sep="\t",parse_dates=["date"])
#Sum the last files (one file per 15 min or so)
df = df.groupby("date").sum().reset_index()
df.to_csv("./data/all_tweets_formatted.tsv",sep="\t",index=None)

In [122]:
format_tweets()

tempFiles.txt

,date,city,state,area_type,type_school,number_victims,Address
184,2013-11-03,Lithonia,Georgia,rural,K-12,0,"Lithonia, Georgia, United States"
84,2013-11-13,Pittsburgh,Pennsylvania,urban,K-12,0,"Pittsburgh, Pennsylvania, United States"
86,2013-12-04,Winter Garden,Florida,suburban,K-12,0,"Winter Garden, Florida, United States"
351,2013-12-13,Centennial,Colorado,suburban,K-12,2,"Centennial, Colorado, United States"
121,2013-12-19,Fresno,California,urban,K-12,0,"Fresno, California, United States"